{% extends 'base.html.twig' %}

{% block title %}Hello MesFichesFraisController!{% endblock %}

{% block body %}

    {{ form(myForm) }}



    {% for uneLigne in fiche_frais.ligneHorsForfait  %}
        <li>{{ uneLigne.libelle }}</li>
    {% endfor %}
    {{ dump(fiche_frais) }}
<p>{{ fiche_frais.mois}}</p>

{% endblock %}
