{% extends 'base.html.twig' %}

{% block title %}Hello MesFichesFraisController!{% endblock %}

{% block body %}

    {{ form(myForm) }}
    {{ dump(fiche_frais) }}

    <body>
    <table>
        <tr>
            <th><h2>Mois :</h2></th>
        </tr>
        <tr><th><h2>Montant :</h2></tr></th>


    </table>







    </body>




{% endblock %}
